<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item *ngFor= "let post of posts2">
     max
    </ion-item>
  </ion-list>
</ion-content>
