<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list >
    <ion-item *ngFor="let post of posts1" >
      <h1>{{post.title}}</h1>
      <span>{{post.grad}}</span>
      
    </ion-item>
  </ion-list>
 
</ion-content>
